header {
  text-align: left;
  width: 80%;
  max-width: 1024px;
  margin: 50px auto;
  font-family: "Avenir";

  span {
    font-family: "Mermaid";
    font-size: 48px;
  }

  p {
    font-size: 24px;
  }
}
